*{
    margin: 0 auto;
}

header {
    padding: 10px;
}

h1 {
    vertical-align: top;
    font-size: 40px;
    display: inline-block;
}

h2 {
    font-size: 20px;
}

main{
    padding: 40px 150px;
    background-color: #e7e7e7;

}

ul {
    list-style-type: none;
    padding-left: 6px;
}


.logo {
    display: inline-block
}


.section-container {
    background-color: white;
}

.button {
    border-radius: 5px;
    padding: 5px 10px;
   
}

.button-container {
    border-bottom: 1px solid lightgray;
    padding: 20px 50px;
}

.order-list {
    line-height: 31px;
    padding: 20px 50px;
}

.check {
    font-size: 9px;
    border: 1px solid;
    padding: 2px;
    border-radius: 50%;
    margin-right: 8px;
}

.check-red {
    color: red;
    border-color: red;

}

.check-green {
    color: green;
    border-color: green;
}

.circle-info {
    font-size: 10px;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 20px;
}

.blue {
    border: 1px solid lightgray;
    background-color: #03a9f4;
    color: white;
}

.viola {

    border: 1px solid purple;
    background-color: purple;
    color: white;

}

.green {
    border: 1px solid green;
    background-color: green;
    color: white;

}

.orange {
    border: 1px solid orange;
    background-color: orange;
    color: white;

}

.verde {
    border: 1px solid lightgreen;
    background-color: lightgreen;
    color: white;

}

.rosa {
    border: 1px solid pink;
    background-color: pink;
    color: white;
}

#blue-button {
    border: 1px solid lightgray;
    background-color: #03a9f4;
    color: white;
}

#white-button {
    border: 1px solid lightgray;
    background-color: white;
    color: lightgray;
}

